{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section pt-6">
    <div class="container center">
       <div class="row">
          <div class="col-6 pb-8">
             <h3>Selected Publications</h3>
          </div>
          {{ $events := where .Site.RegularPages "Section" "publications"}}
          {{ $recentRecordings := slice }}
          {{ $sortedRecentRecordings := sort $events "Params.date" "desc" }}
          {{ range $sortedRecentRecordings }}
             {{ if .Params.selected }}
             {{ partial "components/publication-card" . }}
             {{ end }}
          {{ end }}
       </div>
    </div>
 </section>

  <section class="section">
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
      <div class="row">          
        <div class="col-3 pb-8">
        <h3>All Publications</h3>
        </div>
        {{/*  <div class="col-8">
          <div id="filters" class="button-group">  
            <button class="btn btn-primary is-checked button" data-filter="*">show all</button>
            {{ range $sortedRecentRecordings }}
              {{ $tags := .Params.tags }}
              {{ range $tags }}
                <button class="btn btn-primary button" data-filter=".{{ . }}">{{ . }}</button>
              {{ end }}
            {{ end }}
          </div>
        </div>  */}}
        <!-- blog posts -->
          <div class="row center">
            {{ range $sortedRecentRecordings }}
                {{ partial "components/publication-card" . }}
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        <!-- sidebar -->
        {{/*  <div class="lg:col-4">
          <!-- widget -->
          {{ $widget:= site.Params.widgets.sidebar }}
          {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
        </div>  */}}
      </div>
    </div>
  </section>
{{ end }}
