{{ define "main" }}
<section class="section pt-0">
  <div class="bg-gray-200 dark:bg-darkmode-theme-light pt-12">
    <div class="max-w-screen-2xl px-12 py-12 mx-auto mb-6">
      <div class="grid gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12 pt-12">
        <div class="col-span-6 px-4 text-center sm:mb-6 lg:text-left lg:mb-0">
          <li class="mr-4 inline-block">
            {{/*  <i class="fa-regular fa-folder mr-1"></i>  */}}
            {{ $categories:= .Params.categories }}
            {{ range $i,$p:= $categories }}
              <a
                href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
                class="ms-2 btn-sm-rd btn-grey"
                >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                  {{/*  {{ ", " }}  */}}
                {{ end }}
              </a>
            {{ end }}
          </li>
            <h1 class="mb-4 font-bold leading-tight text-gray-900 md:text-4xl xl:text-5xl 2xl:text-6xl dark:text-white pt-4">
                {{ .Title }}
            </h1>
            {{/*  <h2 class="pb-2 text-3xl font-light text-gray-800 dark:text-gray-300 md:text-4xl">
                {{ .Site.Params.Moto }}
            </h2>  */}}            
            <ul class="pt-2">
              <li class="mr-4 inline-block">
                <i class="fa-regular fa-circle-user mr-1"></i>
                {{ $authors:= .Params.authors }}
                {{ range $i,$p:= $authors }}
                  {{ if ne $i 0 }}
                    {{ ", " }}
                  {{ end }}
                  <a href="{{ `authors/` | relLangURL }}{{ . | urlize }}/">
                    {{ . }}
                  </a>
                {{ end }}
              </li>
              <li class="mr-4 inline-block">
                <i class="fa-regular fa-clock mr-1"></i>
                {{ time.Format ":date_long" .PublishDate }}
              </li>
            </ul>


            <p class="mx-auto font-normal text-grey lg:mx-0 mb-2 md:text-lg xl:text-xl 2xl:text-2xl dark:text-gray-50 pt-12" style="font-style: italic">
                {{ .Description}}
            </p>
            
            <li class="inline-block mt-12">
              {{ $arxiv:= .Params.arxiv}}
              {{ if $arxiv }}
              <a
                target="_blank"
                rel="nofollow noopener"
                href="{{ $arxiv }}"
                class="btn-sm-rd btn-grey mr-2 md:text-base xl:text-lg 2xl:text-xl">
                <i class="ai ai-arxiv"></i>
                <span>arXiv</span>
              </a>
              {{ end }}
              {{ $pdf:= .Params.pdf}}
              {{ if $pdf }}
              <a
                target="_blank"
                rel="nofollow noopener"
                href="{{ $pdf }}"
                class="btn-sm-rd btn-grey mr-2 md:text-base xl:text-lg 2xl:text-xl">
                <i class="fa-regular fa-file-pdf"></i>
                <span>PDF</span>
              </a>
              {{ end }}
              {{ $code:= .Params.code}}
              {{ if $code }}
              <a
                target="_blank"
                rel="nofollow noopener"
                href="{{ $code }}"
                class="btn-sm-rd btn-grey mr-2 md:text-base xl:text-lg 2xl:text-xl">
                <i class="fa-brands fa-github"></i>
                <span>Code</span>
              </a>
              {{ end }}
              {{ $tweet:= .Params.tweet}}
              {{ if $tweet }}
              <a
                target="_blank"
                rel="nofollow noopener"
                href="{{ $tweet }}"
                class="btn-sm-rd btn-grey mr-2 md:text-base xl:text-lg 2xl:text-xl">
                <i class="fa-brands fa-twitter"></i>
                <span>Tweet</span>
              </a>
              {{ end }}

            </li>
        </div>
        {{/*  {{ $image:= .Params.image }}
        {{ if $image }}
          <div class="col-span-6">
            {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "w-full rounded") }}
          </div>
        {{ end }}  */}}
        <div class="col-span-6">
          {{ range .Resources }}
            {{ if eq .ResourceType "video" }}
                {{/*  <video controls autoplay src="{{ .RelPermalink }}" style="width: 100%; display: block;">Your browser does not support the video tag.</video>  */}}
            {{ else if eq .ResourceType "image" }}
                <img src="{{ .RelPermalink }}" alt="Blog Image" style="width: 100%; display: block;">
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-center">

      <article class="lg:col-10">
        {{ range .Resources }}
          {{ if eq .ResourceType "video" }}
              <video controls autoplay src="{{ .RelPermalink }}" style="width: 100%; display: block;">Your browser does not support the video tag.</video>
          {{ end }}
        {{ end }}
        <div class="content mb-10">
          {{ .Content }}
        </div>
        <div class="row items-start justify-between">
          <div class="lg:col-5 mb-10 flex items-center lg:mb-0">
            <h5 class="mr-3">{{ i18n "tags" }} :</h5>
            <ul>
              {{ $tags:= .Params.tags }}
              {{ range $i,$p:= $tags }}
                <li class="inline-block">
                  <a
                    class="bg-theme-light hover:bg-primary dark:bg-darkmode-theme-light dark:hover:bg-darkmode-primary dark:hover:text-dark m-1 block rounded px-3 py-1 hover:text-white"
                    href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                    {{ . | humanize }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="lg:col-4 flex items-center">
            {{ partial "social-share" (dict "Context" . "Class" "share-icons" "Title" (i18n "share") "Whatsapp" false "Telegram" false) }}
          </div>
        </div>
        <!-- comments -->
        {{ if site.Config.Services.Disqus.Shortname }}
          <div class="mt-20">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      </article>
    </div>
    
    <!-- Related posts -->
    {{ $related := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where site.RegularPages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
    {{ $related = $related | shuffle | first 3 }}
    {{ with $related }}
      <div class="section pb-0">
        <h2 class="h3 mb-12">{{ i18n "related_posts" }}</h2>
        <div class="row">
          {{ range . }}
            <div class="lg:col-4">
              {{ partial "components/blog-card" . }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}
