{{ define "main" }}
<style>
.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.homepage {
    margin: 0;
    padding: 0;
    height: 95vh;
    width: 100%;
    overflow: hidden;
}

.homepage_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    /* Use higher specificity to override styles from other_styles.css */
    .homepage h1 {
      margin-bottom: 16px; /* equivalent to mb-4 in Tailwind */
      padding-top: 56px; /* equivalent to pt-14 in Tailwind */
      font-size: 32px; /* equivalent to text-4xl in Tailwind */
      margin-left: -0.5px; /* equivalent to -ml-0.5 in Tailwind */
    }

    /* Additional styles for larger screens (lg and above) */
    @media (min-width: 1024px) {
      .homepage h1 {
        font-size: 56px; /* equivalent to lg:text-7xl in Tailwind */
      }
    }


    /* Additional styles for larger screens (2xl and above) */
    @media (min-width: 1560px) {
      .homepage h1 {
        font-size: 80px; /* equivalent to 2xl:text-[5rem] in Tailwind */
      }
    }
</style>
<!-- Banner -->
{{ with .Params.banner }}
<section class="section homepage bg-[url('/images/homepage.jpg')] bg-cover bg-center dark:bg-[url('/images/homepage_dark.jpg')] center">
   <div class="container center">
      <div class="text-center">
         {{/*  <div class="lg:col-10 mb-8 text-center">  */}}
            <h1 class="mb-4 pt-14" style="font-size: 4rem;">
               {{ .title | markdownify }}
            </h1>
            <p class="mb-8 text-xl -ml-0.5 md:-ml-1 lg:text-3xl">
               {{ .content | markdownify }}
            </p>
            {{/*  {{ with .button }}
            {{ if .enable }}
            <a class="btn btn-primary" href="{{ .link | absURL }}">
            {{ .label }}
            <i class="fa fa-arrow-right pl-2"></i>
            </a>
            {{ end }}
            {{ end }}  */}}
         {{/*  </div>  */}}
         {{/*  
         <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" ) }}
         </div>
         */}}
      </div>
   </div>
</section>
{{ end }}
<!-- /Banner -->
<!-- /Features -->
<section class="section-sm center">
   <div class="container center">
      <div class="row">
         <div class="col-6 pb-8">
            <h3>Our Missions</h3>
         </div>
         <div class="row center">
            <div class="md:col-6 lg:col-4 mb-14">
               <div class="rounded p-8 text-center">
                  <img src="/images/robot.png" class=" mx-auto mb-6 rounded img" width="194" height="194">
                  <h4 class="mb-3">
                    Robotics
                  </h4>
                  <p class="mb-4 text-xl">
                     We will solve robotics tasks
                  </p>
               </div>
            </div>
            <div class="md:col-6 lg:col-4 mb-14">
               <div class="rounded p-8 text-center">
                  <img src="/images/robot.png" class=" mx-auto mb-6 rounded img" width="194" height="194">
                  <h4 class="mb-3">
                     Gaming
                  </h4>
                  <p class="mb-4 text-xl">
                     We will solve gaming tasks
                  </p>
               </div>
            </div>
            <div class="md:col-6 lg:col-4 mb-14">
               <div class="rounded p-8 text-center">
                  <img src="/images/robot.png" class=" mx-auto mb-6 rounded img" width="194" height="194" >
                  <h4 class="mb-3">
                     Simulation
                  </h4>
                  <p class="mb-4 text-xl">
                     We will solve simulation tasks
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- /Testimonials -->
<section class="section-sm">
   <div class="container center">
      <div class="row">
         <div class="col-6 pb-8">
            <h3>Publications</h3>
         </div>
         <div class="col-6">
            <a href="/publications/" class="btn btn-primary float-right">Explore All</a>
         </div>
         {{ $events := where .Site.RegularPages "Section" "publications"}}
         {{ $recentRecordings := slice }}
         {{ $sortedRecentRecordings := sort $events "Params.date" "desc" }}
         {{ range $sortedRecentRecordings }}
            {{ if .Params.selected }}
            {{ partial "components/publication-card" . }}
            {{ end }}
         {{ end }}
      </div>
   </div>
</section>
{{ end }}