<div class="row mb-4">
  <div class="lg:col-8 md:col-12">
    <h5 class="mb-3 md:pt-4 lg:pt-0">
      <a href="{{ .Params.link }}">
        {{ .Title }}
      </a>
    </h5>
    {{ $media:= .Params.media }}
    <p><i>{{ $media }}, {{ time.Format ":date_long" .PublishDate }}</i></p>
      {{/*  <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
        <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
      </a>  */}}
    {{ if .Params.large_icon}}
    <p class="mb-6 text-gray-500 dark:text-darkmode-text">{{ .Description }}</p>
    {{ end }}
  </div>
  
  <div class="lg:col-4 md:col-12 mb-6">
    <a href="{{ .Params.link }}">
      {{ $image:= .Params.image }}
      {{ if $image }}
        {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "w-full rounded") }}
      {{ end }}
    </a>
  </div>
  {{ if not .Params.large_icon}}
  <p class="mb-6 text-gray-500 dark:text-darkmode-text">{{ .Description }}</p>
  {{ end }}
<hr>
</div>
