{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section homepage bg-gray-200 dark:bg-darkmode-body">
   <div class="container homepage_content">
      <div class="row justify-center">
         <div class="lg:col-7 mb-8 text-center">
            <h1 class="mb-4 pt-14" style="font-size: 5rem;">
               {{ .title | markdownify }}
            </h1>
            <p class="mb-8" style="font-size: 1.5rem;">
               {{ .content | markdownify }}
            </p>
            {{/*  {{ with .button }}
            {{ if .enable }}
            <a class="btn btn-primary" href="{{ .link | absURL }}">
            {{ .label }}
            <i class="fa fa-arrow-right pl-2"></i>
            </a>
            {{ end }}
            {{ end }}  */}}
         </div>
         {{/*  
         <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" ) }}
         </div>
         */}}
      </div>
   </div>
</section>
{{ end }}
<!-- /Banner -->
<!-- /Features -->
<section class="section-sm">
   <div class="container">
      <div class="row">
         <div class="col-6 pb-8">
            <h3>Our Missions</h3>
         </div>
         <div class="row">
            <div class="md:col-6 lg:col-4 mb-14">
               <div class="rounded p-8 text-center">
                  <img src="/images/avatar_hu2fb2c1ffbbc34375e1753f29fe535e66_2271_194x194_resize_q90_h2_lanczos_3.webp" class=" mx-auto mb-6 rounded img" width="194" height="194">
                  <h4 class="mb-3">
                    Robotics
                  </h4>
                  <p class="mb-4 text-xl">
                     We will solve robotics tasks
                  </p>
               </div>
            </div>
            <div class="md:col-6 lg:col-4 mb-14">
               <div class="rounded p-8 text-center">
                  <img src="/images/avatar_hu2fb2c1ffbbc34375e1753f29fe535e66_2271_194x194_resize_q90_h2_lanczos_3.webp" class=" mx-auto mb-6 rounded img" width="194" height="194">
                  <h4 class="mb-3">
                     Gaming
                  </h4>
                  <p class="mb-4 text-xl">
                     We will solve gaming tasks
                  </p>
               </div>
            </div>
            <div class="md:col-6 lg:col-4 mb-14">
               <div class="rounded p-8 text-center">
                  <img src="/images/avatar_hu2fb2c1ffbbc34375e1753f29fe535e66_2271_194x194_resize_q90_h2_lanczos_3.webp" class=" mx-auto mb-6 rounded img" width="194" height="194" >
                  <h4 class="mb-3">
                     Simulation
                  </h4>
                  <p class="mb-4 text-xl">
                     We will solve simulation tasks
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- /Testimonials -->
<section class="section-sm">
   <div class="container">
      <div class="row">
         <div class="col-6 pb-8">
            <h3>Recent Posts</h3>
         </div>
         <div class="col-6">
            <a href="/blog/" class="btn btn-primary float-right">Explore All Posts</a>
         </div>
         {{ $events := where .Site.RegularPages "Section" "blog" }}
         {{ $recentRecordings := slice }}
         {{ $sortedRecentRecordings := sort $events "Params.date" "desc" }}
         {{ range first 4 $sortedRecentRecordings }}
         <div class="md:col-12 lg:col-6 mb-14">
            {{ partial "components/blog-card" . }}
         </div>
         {{ end }}
      </div>
   </div>
</section>
{{ end }}